/* You can add global styles to this file, and also import other style files */
html,
body {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

app-root {
  display: block;
}

.text-center {
  text-align: center;
}

.score {
  font-size: 30px;
  padding-bottom: 20px;
}
